* {
    margin: 0;
    padding: 0;
}
.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.boards, .setup {
    display: grid;
    gap: 50px;
    grid-auto-flow: column;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
}

.shade {
    background-color: grey;
}

.color {
    background-color: grey;
}

.miss {
    background-color: red;
}

.hit {
    background-color: green;
}
